
/*#####################################
CSS for Articles
#####################################*/

.left-panel {
	width: 260px;
	margin: 20px 0 0 0;
	text-align: center;
}

.right-panel {
	margin: 20px 10px 0 0;
}

.subhead {
	color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.jumbotron {
	position: relative;
	padding: 25px 0 0 0;
	background-color: #8085a6;
}

.byline {
	color: #cdd1a3;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	text-indent: 0;
}

.container .body {
	margin: 20px 10px 0 10px;
	font-family: Georgia, Times, 'Times New Roman', serif;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}