#overview {
	background-color: #8085a6;
}

.left-panel {

}

.right-panel {

}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}

.byline {
	color: #cdd1a3;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	text-indent: 0;
}