<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
   	<title>{{ page.title }}</title>
   	<meta name="author" content="NoITer" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/contentarea.css" type="text/css" />
</head>
<body>
	<header class="subhead jumbotron">
	    <div class="container">
	    	<h1>理性和有趣</h1>
		</div>
	</header>
	<div class="container">
		<div class="body">
			{{ content }}
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p>Designed and built by @NoITer</p>
			<p>Contact me via zm_uestc@hotmail.com</p>
		</div>
	</footer>
</body>
</html>